@model Cart
@{
    ViewBag.Title = "Cart";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<h3 class="mt-3">Ваша Корзина @(Model.CartItems.Count == 0 ? " пуста" : ":")</h3>
<table class="table table-striped mt-3">
    <tbody>
        @foreach (var cartItem in Model.CartItems)
        {
                <tr>
                    <th scope="row">
                        <img src="@cartItem.Value.Tea.ImagePath" height="200" />
                    </th>
                    <td class="col-md-3">@cartItem.Value.Tea.Name</td>
                    <td class="col-md-4">@cartItem.Value.Tea.Description</td>
                        <td class="col-md-3" style="text-align: right;">@cartItem.Key</td>
                    <td class="col-md-4">
                        <a class="btn btn-danger" asp-controller="cart" asp-action="RemoveItem" asp-route-id="@cartItem.Value.Tea.Id" asp-route-redirectUrl="@returnUrl">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
        }
    </tbody>
</table>


